* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    overflow-x: hidden; /* Prevents horizontal scrolling */
    font-family: Arial, sans-serif;
}

h1 {
    background-color: rgb(2, 2, 19);
    color: cornsilk;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 200px;
    width: 200px;
    background-color: aqua;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: rgb(63, 11, 11);
}

img {
    height: 180px;
    width: 180px;  
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 5rem;
    gap: 5rem;
}

#user-score, #comp-score {
    font-size: 4rem;

}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: rgb(17, 3, 30);
    color: rgb(248, 236, 220);
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

